@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Nunito&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lable {
  @apply font-bold text-[14px];
}

.btn {
  @apply shadow-sm shadow-primary  bg-white text-primary    uppercase  transition-all delay-100 ease-in-out duration-100;
}

.text-field {
  @apply rounded-md w-full  text-[14px] grow  border focus:outline-none focus:border-primary  border-gray-400  px-3 py-[10px];
}
th {
  @apply bg-blue-100 border text-left px-8 py-4;
}
td {
  @apply border text-left px-8 py-4;
}

.text-field-signup {
  @apply rounded-md w-full text-[16px]  grow  border focus:outline-none focus:border-primary  border-gray-400  px-3 py-[20px];
}
.text-field-error {
  @apply rounded-md w-full text-[16px]  grow border  border-red-600 focus:outline-none focus:border-primary    px-3 py-[20px];
}

.update-btn {
  @apply border-2 py-0 px-12 rounded-lg text-[14px] bg-blue-500 text-white font-bold hover:bg-blue-700 transition-all delay-75 duration-75;
}

.error-message {
  @apply text-red-600;
}

.heading-one {
  @apply text-[60px] font-bold mb-12 font-poppins   leading-[130%] bg-gradient-to-r  from-indigo-500 via-purple-500 to-pink-500 bg-clip-text inline-block text-transparent;
}
.heading-two {
  @apply text-[40px] font-bold;
}
.heading-three {
  @apply text-[30px] font-bold;
}

.heading-four {
  @apply text-[20x] font-bold;
}

.message {
  @apply text-black font-bold text-[18px] py-4;
}

.paragraph {
  @apply leading-[35px] text-[18px];
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  transform: translate(-50%, -50%);
}

/* th{
  @apply bg-blue-100 border text-left px-8 py-4;
}
td{
  @apply "border px-8 py-4;
} */
.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
