@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Nunito&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lable {
  @apply font-bold text-[18px];
}

.btn {
  @apply shadow-sm shadow-primary   bg-white text-primary    uppercase rounded-full transition-all delay-100 ease-in-out duration-100;
}

.text-field {
  @apply rounded-md w-full text-[18px]  border focus:outline-none focus:border-primary  border-gray-400  px-3 py-[20px] mb-5;
}
th {
  @apply bg-blue-100 border text-left px-8 py-4;
}
td {
  @apply border text-left px-8 py-4;
}

/* th{
  @apply bg-blue-100 border text-left px-8 py-4;
}
td{
  @apply "border px-8 py-4;
} */
